<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GuitarStore</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!--DataTable-->
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
</head>

<body>

<div class="page-top" style="width: 100%; height: 50px; background-color: orange"></div>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Guitar Store</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a th:href="@{/guitarshelf}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Guitars <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a th:href="@{/guitarshelf}">Browse Guitars</a></li>
                        <li><a href="#">Store Hours &#38; Directions</a></li>
                        <li><a href="#">FAQ</a></li>

                    </ul>
                </li>

                <form class="navbar-form" th:action="@{/searchGuitar}" method="post" role="search" style="display: flex">
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" placeholder="Guitar Name"
                               style="margin-right: 10px">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/shoppingCart/cart}">Shopping Cart</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/myProfile}">My Account</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/myProfile}">My Account</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LogOut</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8" style="margin-top: 200px">
            <h2 class="home-headline"><span style=" : #f5f2d0"
                                            th:text="${user} ? ${#strings.toUpperCase(user.username)} : 'ALL GUITARS'"></span>
            </h2>
        </div>
        <div class="col-xs-4">
            <img src="/image/logo.jpg" class="img-responsive"/>
        </div>
    </div>
    <hr style="position:absolute; width:100%; height:6px; background-color: #333; z-index:-1; margin-top:-90px;"/>
    <img class="img-responsive" src="/image/wood.png" style="margin-top: -40px;"/>

    <form th:action="@{/shoppingCart/addItem}" method="post">
        <input hidden="hidden" th:field="*{guitar.id}"/>
        <div class="row" style="margin-top: 120px;">
            <div class="col-xs-3">
                <a th:href="@{/guitarshelf}">Back to Guitar list.</a><br/>
                <img class="img-responsive shelf-guitar" th:src="#{adminPath}+@{/image/guitar/}+${guitar.id}+'.png'"/>
            </div>

            <div class="col-xs-9">
                <h3 th:text="${guitar.name}">Guitar Name</h3>
                <div class="row">
                    <div class="col-xs-5">
                        <h5><strong>Company:</strong><span th:text="${guitar.company}"></span></h5>
                        <p><strong>Model:</strong><span th:text="${guitar.model}"></span></p>
                        <p><strong>Category:</strong><span th:text="${guitar.category}"></span></p>
                        <p><strong>Shipping Weight:<span th:text="${guitar.shippingWeight}">Kgs</span> </strong></p>
                    </div>

                    <div class="col-xs-7">
                        <div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4>Our Price: <span style="color: #db3208;">$<span
                                                th:text="${guitar.ourPrice}"></span></span></h4>
                                        <p>List Price:<span style="text-decoration: line-through">$<span
                                                th:text="${guitar.listPrice}"></span></span></p>
                                        <p>You Save: $<span
                                                th:text="${#numbers.formatDecimal((guitar.listPrice - guitar.ourPrice), 0 , 'COMMA', 2, 'POINT')}"></span>
                                        </p>
                                        <span>Qty :</span>
                                        <select name="qty">
                                            <option th:each="qty : ${qtyList}" th:value="${qty}"
                                                    th:text="${qty}"></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 th:if="*{guitar.inStockNumber&gt;10}" style="color: green">In Stock</h4>
                                        <h4 th:if="*{guitar.inStockNumber&gt;10 and guitar.inStockNumber&gt;0}" style="color: green">Only <span th:text="${guitar.inStockNumber}"></span>In Stock</h4>
                                        <h4 th:if="*{guitar.inStockNumber==0}" style="color: darkred">Unavailable</h4>
                                        <button type="submit" class="btn btn-warning" style="color: black; border: 1px; solid-color: black; padding: 10px 40px 10px 40px;">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <p th:utext="${guitar.description}"></p>

            </div>

        </div>
    </form>
</div>
<!--end of container-->
<!--footer-->
<br />
<br />
<footer>
    <div class="row">
        <div class="col-xs-3 footerleft">
            <div class="logofooter">
                <a th:href="@{/}"><img class="img-responsive"
                                       src="/image/logo.png" style="width: 200px;"/></a>
            </div>
            <p>
                GuitarStore Store. <br/>Serving our customers with the
                best.
            </p>
        </div>
        <div class="col-xs-3 paddingtop-bottom">
            <h6 class="heading7">CONTACT</h6>
            <ul class="post">
                <p>
                    <i class="fa fa-map-pin"></i> 123 XXX Ave<br/> Mumbai MH, India
                    02112
                </p>
                <p>
                    <i class="fa fa-phone"></i> Phone (India) : +91 999 999 9999
                </p>
                <p>
                    <i class="fa fa-envelope"></i> E-mail : info@guitarstore.com
                </p>
            </ul>
        </div>
        <div class="col-xs-3 paddingtop-bottom">
            <h6 class="heading7">LINKS</h6>
            <ul class="footer-ul">
                <li><a href="#"> Privacy Policy</a></li>
                <li><a href="#"> Terms &#38; Conditions</a></li>
                <li><a href="#"> Frequently Ask Questions</a></li>
            </ul>
        </div>
        <div class="col-xs-3 paddingtop-bottom">
            <h6 class="heading7">STORE HOURS</h6>
            <div class="post">
                <p>Monday - Saturday: 9am - 11pm</p>
                <p>Sunday: 10am - 10pm</p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="col-md-6">
        <p>© 2017 - All Rights Reserved</p>
    </div>
    <div class="col-md-6">
        <ul class="bottom_ul">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Faq's</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Site Map</a></li>
        </ul>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
<script th:src="@{/js/scripts.js}"></script>
<!--data tables-->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

</body>
</html>
